#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}

.friends-screen__avatar {
  display: flex;
  align-items: center;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 10px;
}

.friends-screen__buttomdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.friends-screen__topdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.friend-screen__channel-name {
  font-size: 23px;
}

.friends-screen__rightdiv {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 35;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 2s;
}
