#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}

.friends-screen__avatar {
  display: flex;
  align-items: center;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 10px;
}

.friends-screen__buttomdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.friends-screen__topdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.friend-screen__channel-name {
  font-size: 23px;
}

.friends-screen__rightdiv {
  color: rgba(0, 0, 0, 0.5);
}
