.user-component__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__astmark {
  display: block;
  color: tomato;
  font-size: 15px;
  width: 15px;
  height: 15px;
  font-weight: 600;
  border: 2px solid tomato;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  margin-left: 5px;
}

.more__note {
  color: black;
}

.more__icons {
  margin-top: 25px;
  padding-bottom: 30px;
}

.more__suggestions {
  margin-top: 15px;
}

.more__suggestions-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.more__suggestions-icons {
  display: flex;
  margin-top: 15px;
}

.more__suggestions-icons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.more__suggestions-icons-column i {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.more__suggestions-icons-column span {
  font-size: 14px;
  display: block;
  margin: 10px 0px;
}
